* {
  font-family: "IBM Plex Sans KR", sans-serif;
}
body {
  background-image: url("../static/img/resultpage/배경지(불투명.png");
  margin: 0px;
  padding: 0px;
}
/* 다음 페이지로 넘어가는 버튼 - 넘어갈때 쌓은 데이터를 보내 주어야 하는 작업이 필요하다. */
#NextPage {
  display: block;
  background-color: rgb(255, 217, 102); /*go 버튼 배경색 */
  margin: auto;
  border: 0px;
  margin-bottom: 10%;
  cursor: pointer;
}
#NextImg {
  width: 50%;
}
.bg {
  background-image: url("../static/img/resultpage/배경지(불투명.png");
  background-repeat: repeat;
  width: 100vw;
}

.logo-box {
  background-color: white;
  width: 100vw;
}

.logo {
  height: 20vh;
  cursor: pointer;
}

.btn-logo {
  border: none;
  background: white;
}

.result-box {
  background-color: transparent;
  width: 80vw;
  display: block;
  margin: auto;
  margin-top: 5vw;
}

#menu {
  position: absolute;
  background-color: rgb(255, 217, 102);
  top: 6vw;
  font-size: 3vw;
  font-weight: normal;
}
.tab {
  width: 80vw;
  height: 6vw;
  width: 100%;
}
/* 가운데 정렬 3 / 15 수정 */
.total-tab {
  padding-top: 5vw;
  padding-bottom: 1vw;
  padding: 1vw 9.1vw;
}
/* 샌드위치 빵 치즈 소스 버튼 */
.NavBtn {
  width: 25%;
  float: left;
  height: 100%;
  border: none;
  outline: none;
  font-size: 2.3vw;
  border-radius: 1vw;
  border-bottom-left-radius: 0vw;
  border-bottom-right-radius: 0vw;
  font-weight: 700;
  color: black;
  background-color: rgb(169, 209, 142);
  cursor: pointer;
}

.NavBtn.active {
  color: black;
  background-color: rgb(255, 217, 102);
}

.NavBtn:hover {
  color: black;
  background-color: rgb(255, 217, 102);
}
/* 이미지 */
.sandwichimg {
  display: block;
  background-color: white;
  border-radius: 1vw;
  border-bottom-left-radius: 0vw;
  border-bottom-right-radius: 0vw;
  width: 100%;
  height: 14.4vw;
  /* margin: auto; */
}
/* 이미지 + 버튼 */
.SandwichMenu {
  display: inline-block;
  border-top-left-radius: 1vw; /*수정*/
  border-top-right-radius: 1vw;
  width: 20vw;
  margin-bottom: 2vw;
  margin-top: 2vw;
}
/* 이미지 > 버튼 */
.select {
  display: block;
  margin: auto;
  border: 0px;
  padding: 0px;
  font-size: 1.2vw;
  font-weight: 600;
  width: 100%;
  height: 3vw;
  color: rgb(255, 202, 8);
  background-color: rgb(0, 153, 71);
  cursor: pointer;
}

.select:hover {
  background-color: rgb(255, 202, 8);
  color: rgb(0, 153, 71);
}

.select2 {
  display: block;
  margin: auto;
  border: 0px;
  padding: 0px;
  font-size: 1.2vw;
  font-weight: 600;
  width: 100%;
  height: 3vw;
  color: rgb(255, 202, 8);
  background-color: rgb(0, 153, 71);
  cursor: pointer;
}

.select2:hover {
  background-color: rgb(255, 202, 8);
  color: rgb(0, 153, 71);
}

.select3 {
  display: block;
  margin: auto;
  border: 0px;
  padding: 0px;
  font-size: 1.2vw;
  font-weight: 600;
  width: 100%;
  height: 3vw;
  color: rgb(255, 202, 8);
  background-color: rgb(0, 153, 71);
  cursor: pointer;
  text-align: center;
}

.select3:hover {
  background-color: rgb(255, 202, 8);
  color: rgb(0, 153, 71);
}

.select4 {
  display: block;
  margin: auto;
  border: 0px;
  padding: 0px;
  font-size: 1.2vw;
  font-weight: 600;
  width: 100%;
  height: 3vw;
  color: rgb(255, 202, 8);
  background-color: rgb(0, 153, 71);
  cursor: pointer;
}

.select4:hover {
  background-color: rgb(255, 202, 8);
  color: rgb(0, 153, 71);
}

/* 샌드위치 버튼 누르면 선택 표시 */
.sandwich {
  background-color: darkorange;
}
/* 빵 버튼 누르면 선택 표시 */
.bread {
  background-color: darkorange;
}
/* 치즈 버튼 누르면 선택 표시 */
.sauce {
  background-color: darkorange;
}
/* 치즈 버튼 누르면 선택 표시 */
.cheese {
  background-color: darkorange;
}

.firstimg {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
}

.firstimg::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(0, 153, 71, 0.8);
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  position: absolute;
  top: -100%;
  left: 0;
  transition: all 0.3s;
  font-weight: 1vw;
}
.background:hover .firstimg::before {
  top: 0;
  bottom: 0;
}
.topName {
  top: 0;
  bottom: 0;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 1vw;
  font-size: 1.1vw;
}

.firstimg::after {
  content: "";
}
span {
  display: block;
  margin: auto;
}
.top {
  position: absolute;
  color: rgb(255, 202, 8);
  bottom: 150%;
  font-size: 1vw;
  margin: auto;
  width: 100%;
  text-align: center;
  transition: all 0.7s;
}

.firstimg:hover .top {
  bottom: 40%;
  transition: all 0.7s;
  margin: auto;
}

span {
  display: block;
  text-align: center;
  margin: auto;
}
/* 치즈 부분 GO & TIP 버튼 */
.total-btn {
  position: absolute;
  top: 30vw;
  width: 100%;
  display: block;
}

#tab4 {
  height: 50vw;
  width: 61.8vw;
}
.tip {
  position: absolute;
  top: 25vw;
  width: 100%;
}

.input-tip {
  display: block;
  color: black;
  top: 22vw;
  border: 1px solid rgb(0, 153, 71, 0.8);
  border-radius: 1vw;
  width: 80%;
  height: 2.5vw;
  margin: auto;
  font-size: 1.5vw;
  text-align: center;
}
/* 푸시 */
